<!-- FILEPATH: /c:/Users/mikeq/Documents/Bawts/justbuzzintest/src/user/index.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Buzzer</title>
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    </head>
    <body>
        <p id="statmsg"></p>
        <h1>Buzzer</h1>
        <input type="text" id="answer" placeholder="Buzz with an answer(Optional)"></input>
        <button id="buzzbtn" onclick="buzz()">Buzz</button>
        <div style="display: none;">
            <span id="var-room"><%= room %></span>
            <span id="var-password"><%= password %></span>
            <span id="var-name"><%= name %></span>
        </div>
        <p>Current users:</p>
        <p id="userlisttest"></p>
        <p>Buzzer Board:</p>
        <p id="buzzerlisttest"></p>
        <script src="userbuzzer.js"></script>
    </body>
</html>
